<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>High Scores</title>
    <link rel="stylesheet" href="/static/css/high_score.css">
</head>
<body>
    <div class="header">
        <h1>Scores</h1>
    </div>
    <div class="table">
        <table>
            <th>Name</th>
            <th>Score</th>
            <tr>
                {% for user in users %}
                    <td>{{ user['username'] }}</td>
                    <td>{{ user['score'] }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div class="back_to_main">
        <form action="\">
            <button id="index">Back</button>
        </form>
    </div>
</body>
</html>